<!-- <h1 *ngIf="member">{{member.knownAs}}</h1> -->

<div class="row" >
  <div class="col-4">
    <div class="card">
      <img
        src="{{ member.photoUrl || './assets/user.png' }}"
        alt="{{ member.knownAs }}"
        class="card-img-top img-thumbnail"
      />
      <div class="card-body">
        <div>
          <strong>Location:</strong>
          <p>{{ member.city }}, {{ member.country }}</p>
        </div>
        <div>
          <strong>Age:</strong>
          <p>{{ member.age }}</p>
        </div>
        <div>
          <strong>Last Active:</strong>
          <p>{{ member.lastActive | timeago}}</p>
        </div>
        <div>
          <strong>Member Since:</strong>
          <p>{{ member.profileRegistered | date}}</p>
        </div>
      </div>

      <div class="card-footer">
        <div class="btn-group d-flex">
          <button class="btn btn-primary">Like</button>
          <button (click)="activateTab(3)" class="btn btn-success">Message</button>
        </div>
      </div>
    </div>
  </div>
  <div class="col-8">
    <tabset #memberTabs class="member-tabset">
      <tab (selectTab)="onTabChange($event)" heading="About {{ member.knownAs }}" id="tab1">
        <h4>Description</h4>
        <p>{{ member.introduction }}</p>
        <h4>Looking For</h4>
        <p>{{ member.lookingFor }}</p>
      </tab>
      <tab (selectTab)="onTabChange($event)" heading="Interests" id="tab2">
        <h4>Interests</h4>
        <p>{{ member.interests }}</p>
      </tab>
      <tab (selectTab)="onTabChange($event)" heading="Photos" id="tab3">
        <h4>Photos</h4>
        <ngx-gallery  [options]="galleryOptions" [images]="galleryImages" class="ngx-gallery"></ngx-gallery>      </tab>
      <tab (selectTab)="onTabChange($event)" heading="Messages" id="tab4">
        <h4>Messages</h4>
        <app-member-messages [username]="member.username"  [messages]="messages"></app-member-messages>
      </tab>
    </tabset>
  </div>
</div>
