ion-input {
  margin-top: 20px;
  border: 2px solid white;
  background-color: #F2F2F2;
  text-decoration-color: black;
  font-size: medium;

}

// .invalid-feedback {
//   // text-align: center;
//   color: white;

// }

