<h4>
  Internal Server Error - Refreshing the page clears the error
</h4>

<ng-container *ngIf="error">
  <h5 class="text-danger">Error:{{error.message}}</h5>
  <P class="font-weight-bold">If you are seeing this then Angular is not to blame, the server is. </P>

  <ol>
    <li>Open the chrome dev tools</li>
    <li>Inspect the network tab</li>
    <li>Check the fialing request</li>
    <li>Examine the request URL- spelling counts</li>
    <li>Reproduce the error in Postman, if true, then API is the issue</li>
  </ol>

  <p>Following is the stack trace - this is where your investigation should start</p>
  <code class="mt-5" style="background-color: whitesmoke;">{{error.details}}</code>
</ng-container>
