<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Sign-In</ion-title>
  </ion-toolbar>
</ion-header>
<ion-progress-bar *ngIf="isLoading" type="indeterminate"></ion-progress-bar>

<ion-content>
  <form #f="ngForm" (ngSubmit)="submitForm(f)">
    <ion-grid>
      <ion-row>
        <ion-col offset="0.7" offset-md="1" offset-sm="1" size="10">
          <ion-item>
            <ion-label position="floating" class="ion-text-center"
              >E-mail</ion-label
            >
            <ion-input #emailCtrl="ngModel" required type="e-mail" ngModel name="e-mail"></ion-input>
            <ion-item lines="none" *ngIf="emailCtrl.touched && emailCtrl.invalid">
              <ion-label> Please enter an E-mail</ion-label>
            </ion-item>
          </ion-item>
        </ion-col>
        <ion-col offset="0.7" offset-md="1" offset-sm="1" size="10">
          <ion-item>
            <ion-label position="floating" class="ion-text-center"
              >Password</ion-label
            >
            <ion-input
              required
              minlength="6"
              type="password"
              ngModel
              name="password"
              #passwordCtrl="ngModel"
            ></ion-input>
            <ion-item lines="none" *ngIf="passwordCtrl.touched && passwordCtrl.invalid">
              <ion-label> Please enter a Password</ion-label>
            </ion-item>

          </ion-item>
        </ion-col>
        <ion-col offset="4.2" offset-md="5.6" offset-sm="5.3">
          <ion-button type="submit" *ngIf="!isLoading" color="primary"
            >Sign-In</ion-button
          >
        </ion-col>
      </ion-row>

    </ion-grid>
  </form>
</ion-content>
